.chart {
  height: 400px;
  width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #2e3456;
  padding: 10px 30px;

  border-radius: 20px;
}

.chartTitle {
  margin-bottom: 20px;
}
