.dashboard {
  height: 100%;
  width: 100%;
}

.loader {
  text-align: center;
  margin-top: 50%;
}

.charts {
  display: flex;
  flex-wrap: flex;
  align-items: center;
  justify-content: space-between;
}
