.chartHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.report {
  color: #e40dc7;
  font-size: 16px;
}

.coinHolder {
  display: flex;
  align-items: center;
}

.coin {
  margin-right: 20px;
}

.bookmark {
  font-size: 16px;
}
