.App {
  display: block;

  min-height: 100vh;
  padding: 50px;

  font-size: calc(10px + 2vmin);
  color: white;

  background-color: #242944;
}

.white {
  color: white;
}

.blue {
  color: lightskyblue;
}
